/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
consultas.sql
app/Mail/AsignacionEmail.php
app/Mail/VerificationEmail.php
database/migrations/2023_06_23_095333_create_verifications_table.php
config/wireui.php
app/Models/Verification.php
resources/views/emails/verification-code/error.blade.php
resources/views/emails/verification-code/success.blade.php
resources/views/emails/verification-code/verification.blade.php
app/Http/Controllers/VerificationController.php
# config/livewire.php
adm/livewire-tmp/9ajKhi4ZhEqNjv9XLXVwxq2S4MNyAh-metab2pvcy54bHN4-.xlsx
public/video_sesiones
ayuda
GitHub Copilot.php
run_schedule.bat
public/photos/vsbGt4Hlt3P7WFhh5ZP97MXi7OVhpyxeoA1JJSoW.png
public/photos/SjKHDBT30C4TcnHPuaCp5y4qIM6Qycu6yhbJHozL.png
public/photos/jamY3Eq0UHxu0840tZmSHP7RK30Yfb6XrSHFQwZ3.png
public/photos/INQj1lyyXirvI1Cp9ntzQnmEVBFhyTnckdJuyiMi.png
public/photos/AvWTJvEq6OMLVHiWSC9VHkpa4CDIesGxQIXbDgT9.png
public/photos/63NU2m0CRe74ptD6Hq98lHheLXG3LKoWHYygWZZc.png
public/ASIGNADOS LAPTOPS.xlsx
