/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
consultas.sql
app/Mail/AsignacionEmail.php
app/Mail/VerificationEmail.php
database/migrations/2023_06_23_095333_create_verifications_table.php
config/wireui.php
app/Models/Verification.php
resources/views/emails/verification-code/error.blade.php
resources/views/emails/verification-code/success.blade.php
resources/views/emails/verification-code/verification.blade.php
app/Http/Controllers/VerificationController.php
config/livewire.php
adm/livewire-tmp/9ajKhi4ZhEqNjv9XLXVwxq2S4MNyAh-metab2pvcy54bHN4-.xlsx
public/video_sesiones
ayuda
GitHub Copilot.php
run_schedule.bat